<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <title>Good Thymes Virtual Grocery</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" type="text/css" media="all" 
          href="static/css/style.css"  th:href="@{/css/style.css}" />
  </head>

    <body id="index">
  	<main id="index-main">
      <img id="index-logo" src="01.png" th:src="@{/images/01.png}" alt="logo de besafe asesores">
      <p id="index-banner">
        <span>BeSafe</span> Expertos en riesgo laboral
      </p>
    </main>

    <section id="index-hero">
   
    	<button>Menu</button>
    	<ul>
		    <li><a href="/">Inicio</a></li>
		    <li><a href="/contacto">Contacto</a></li>
		    <li><a href="/capacitacion">Crear Capacitación</a></li>
		    <li><a href="/capacitaciones">Ver Capacitaciones</a></li>
		</ul>
		
    </section>
    
    	<script>
	    	const boton = document.querySelector('button');
	    	const menu = document.querySelector('ul');
	    	boton.addEventListener('click', clickHandler);
	
	    	function clickHandler() {
	    	  menu.classList.toggle('aparecer');
	    	}
    	</script>
    
  </body>

</html>